.nav-button {
    display: flex;
    padding-left: 0.5em;
    min-height: 3em;
    color: #ff2d55;
    cursor: pointer;

    &:hover {
        background: rgba(0, 0, 0, 0.05);
    }

    &.black {
        color: black;
    }

    &.with-subtext {
        .text {
            font-size: 1em;
        }
    }

    &.current-track {
        .text {
            color: $red;
        }
    }

    .artwork {
        height: 2.8em;
        margin: 0 1em;
    }

    .left-container, .right-container {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        height: 100%;
    }

    .left-container {
        flex: 1;

        .artwork {

        }
    }

    .right-container {
        padding-right: 0.5em;
    }

    .nav-icon {
        color: $borderColor;
    }

    .text {
        margin: 0;
        font-size: 1.3em;
        font-weight: normal;
    }

    .subtext {
        margin: 0;
        font-size: 0.8em;
        font-weight: normal;
        color: rgb(150,150,150);
    }
}
