.nav-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.5em;
    min-height: 3em;
    color: #ff2d55;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    cursor: pointer;

    &:hover {
        background: rgba(0, 0, 0, 0.05);
    }

    &.black {
        color: black;
    }

    .text {
        margin: 0;
        font-size: 1.3em;
        font-weight: normal;
    }

    .subtext {
        display: none;
    }
}
