.controls {
    position: relative;
    height: 4em;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 25em;
    animation: controls-minimize 0.25s;

    @media #{$mobile} {
        max-width: none;
    }

    &.fullscreen {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background: #ececec;
        animation: controls-fullscreen 0.25s;
    }

    @keyframes controls-fullscreen {
        0% {
            transform: translateY(100%);
        }
    }

    @keyframes controls-minimize {
        0% {
            height: 100%;
            max-height: 50em;
        }
    }
}
