.controls {
    position: relative;
    height: 4em;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 25em;
    animation: controls-minimize 0.3s;

    @media #{$mobile} {
        max-width: none;
    }

    &.fullscreen {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background: white;
        animation: controls-fullscreen 0.3s ease-in-out;
    }

    .controls-cover {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.5);
        animation: fadeIn 0.3s;
    }

    @keyframes controls-fullscreen {
        0% {
            transform: translateY(100%);
        }
    }

    @keyframes controls-minimize {
        0% {
            height: 100%;
            max-height: 50em;
        }
    }
}
