.controls {
    $duration: 0.35s;
    $transition: all $duration ease;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 3em;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 25em;
    backdrop-filter: blur(30px);
    transition: $transition;

    @media #{$mobile} {
        z-index: 0;
        bottom: 3em;
        height: 4em;
        max-width: none;
    }

    &.fullscreen {
        height: 100%;
        width: 100%;
        bottom: 0;
        background: white;

        .playback-controls {
            opacity: 1;
        }

        .chevron-wide {
            display: block;
            margin: 1em auto 0 auto;
            cursor: pointer;
        }

        @media #{$mobile} {
            height: 96%;
            max-width: none;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }
    }

    .chevron-container {
        height: 4em;
    }

    .chevron-wide {
        display: none;
    }

    &.closing {
        //animation: controls-minimize 0.3s;
    }

    @keyframes controls-fullscreen {
        0% {
            transform: translateY(100%);
        }
    }

    @keyframes controls-minimize {
        90% {
            opacity: 0;
        }
        100% {
            transform: translateY(100%);
        }
    }
}

.controls-cover {
    $duration: 0.35s;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    height: auto;

    animation: fadeIn $duration;
}
