.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 70em;
    margin: auto;
    height: 3em;
    display: flex;
    background: white;

    .left-container, .mid-container, .right-container {
        display: flex;
        flex: 1;
    }

    .mid-container {
        display: flex;
        justify-content: center;
    }

    .header-title {
        margin: auto 0;
        transition: all 0.25s ease-in-out;

        &.invisible {
            opacity: 0;
            user-select: none;
        }
    }

    .back-button {
        display: flex;
        height: 100%;
        font-size: 1em;
        cursor: pointer;
        color: #ff2d55;

        h3, .svg {
            margin: auto 0;
            font-weight: normal;
        }

        svg {
            margin: auto 0;
        }
    }
}
