.mini-controls {
    position: relative;
    height: 4em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.25s ease-in-out;

    @media #{$mobile} {
        border-top: 1px solid rgba(0,0,0,0.12);
        border-bottom: 1px solid rgba(0,0,0,0.12);
    }

    &.fullscreen {
        opacity: 0;

        svg {
            display: none;
        }
    }

    .info-container {
        display: flex;
        align-content: center;
        flex: 1;
    }

    .song-title {
        flex: 1;
        min-width: 0;
        h3 {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .artwork {
        height: 75%;
        width: 3em;
        margin: auto 0.5em;
        box-shadow: 0 0 10px darkgray;
        border-radius: 4px;
        background-size: cover;
        transition: background 1s;
    }

    .button-container {
        display: flex;
        align-items: center;
        padding-right: 1em;
    }

    svg {
        height: 2em;
        width: 2em;
        margin: auto 1em;
    }
}
