.playlist-creator {
    textarea {
        appearance: none;
        font-size: 1.5em;
        border: none;
        outline: none;
        padding: 0;
        flex: 1;
        resize: none;
        caret-color: $red;
    }

    .header-info-container {
        display: flex;
        padding: 0 1em;

        textarea {
            padding: 0 1em;
        }
    }

    .description-container {
        display: flex;
        margin: 1em 0 1em 1em;
        padding: 1em 0;
        border-top: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;

        textarea {
            font-size: 1.3em;
        }
    }
}
