.welcome-container {
    $duration: 1.5s;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all $duration;

    &.closing {
        opacity: 0;

        .logo-container {
            transform: scale(7);
            border-radius: 0;
            box-shadow: none;

            img {
                opacity: 0;
                color: black;
            }
        }
    }

    $br: 6px;
    .logo-container {
        position: relative;
        height: 30vh;
        width: 30vh;
        border-radius: 5vh;
        background: white;
        transition: all $duration ease;
        animation: fadeScaleIn 0.7s;
        display: flex;
        //border: 1px solid $borderColor;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        animation: bsIn 1s;

        div {
            position: absolute;
            background: black;
            background: #F95F79;
            transition: all $duration ease;
        }

        img {
            color: $red;
            height: 70%;
            width: auto;
            margin: auto;
            transition: all $duration ease;
        }

        @keyframes fadeScaleIn {
            0% {
                opacity: 0;
            }
        }

        @keyframes bsIn {
            0% {
                box-shadow: none;
            }
            100% {
                box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            }
        }
    }
}
