.nav-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.5em;
  min-height: 3em;
  color: #ff2d55;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  cursor: pointer; }
  .nav-button:hover {
    background: rgba(0, 0, 0, 0.05); }
  .nav-button.black {
    color: black; }
  .nav-button .text {
    margin: 0;
    font-size: 1.3em;
    font-weight: normal; }
  .nav-button .subtext {
    display: none; }

.album-button {
  width: 200px;
  margin: 0 1em 1em 1em;
  cursor: pointer;
  animation: fadeIn 0.25s; }
  .album-button img {
    flex: 1;
    height: 100%;
    max-height: 200px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    border-radius: 6px; }
  .album-button .album-button-text, .album-button .album-button-subtext {
    font-weight: normal;
    font-size: 1em;
    margin: 0.1em 0; }
  .album-button .album-button-subtext {
    color: #969696; }
  @media screen and (max-width: 750px) {
    .album-button {
      max-width: 40%;
      margin: 0.5em 0.5em 0.5em; } }
@keyframes fadeIn {
  0% {
    opacity: 0; } }
.track-button {
  display: flex;
  align-items: center;
  min-height: 3em;
  flex: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  animation: fadeIn 0.2s;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .track-button:hover {
    background: rgba(0, 0, 0, 0.05); }
  .track-button.current-track {
    color: #ff2d55; }
  .track-button .text {
    margin: 0;
    font-size: 1.3em;
    font-weight: normal; }

.rangeslider-horizontal.time-slider, .volume-slider {
  height: 6px;
  width: 90%;
  margin: auto;
  box-shadow: none; }
  .rangeslider-horizontal.time-slider .rangeslider__fill, .volume-slider .rangeslider__fill {
    background: #646464;
    box-shadow: none; }
  .rangeslider-horizontal.time-slider .rangeslider__handle, .volume-slider .rangeslider__handle {
    width: 15px;
    height: 15px;
    box-shadow: none;
    background: #646464;
    border: none;
    outline: none; }
    .rangeslider-horizontal.time-slider .rangeslider__handle::active, .volume-slider .rangeslider__handle::active {
      height: 30px;
      width: 30px; }
    .rangeslider-horizontal.time-slider .rangeslider__handle::after, .volume-slider .rangeslider__handle::after {
      display: none; }

.volume-slider-container .volume-slider .rangeslider__handle {
  width: 30px;
  height: 30px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 10px #969696; }

html {
  font-family: sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  margin: 0; }

.hidden {
  display: none; }

@keyframes fadeOut {
  100% {
    opacity: 0; } }
.view {
  padding: 3em 0 5em 1em;
  max-width: 70em;
  margin: auto;
  animation: slideNewView 0.15s ease-in-out; }
  .view.slide-in-left {
    animation: slideInLeft 0.15s ease-in-out; }
  .view.entering-new-view {
    animation: slideViewLeft 0.15s ease-in-out; }
  .view.entering-old-view {
    animation: slideViewRight 0.15s ease-in-out; }
  @media screen and (max-width: 750px) {
    .view {
      padding-left: 0; }
      .view .view-header {
        padding-left: 0.5em; } }

.view-header {
  font-size: 2em;
  margin: 0 0 0.25em 0; }

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20%); } }
@keyframes slideNewView {
  0% {
    opacity: 0;
    transform: translateX(20%); } }
@keyframes slideViewLeft {
  100% {
    opacity: 0;
    transform: translateX(-20%); } }
@keyframes slideViewRight {
  100% {
    opacity: 0;
    transform: translateX(20%); } }
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 70em;
  margin: auto;
  height: 3em;
  display: flex;
  background: white; }
  .header .left-container, .header .mid-container, .header .right-container {
    display: flex;
    flex: 1; }
  .header .mid-container {
    display: flex;
    justify-content: center; }
  .header .header-title {
    margin: auto 0;
    transition: all 0.25s ease-in-out; }
    .header .header-title.invisible {
      opacity: 0;
      user-select: none; }
  .header .back-button {
    display: flex;
    height: 100%;
    font-size: 1em;
    cursor: pointer;
    color: #ff2d55; }
    .header .back-button h3, .header .back-button .svg {
      margin: auto 0;
      font-weight: normal; }
    .header .back-button svg {
      margin: auto 0; }

.controls {
  position: relative;
  height: 4em;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 25em; }
  @media screen and (max-width: 750px) {
    .controls {
      max-width: none; } }
  .controls.fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: white;
    backdrop-filter: none;
    animation: controls-fullscreen 0.3s ease-in-out; }
  .controls.closing {
    animation: controls-minimize 0.3s; }
  .controls .controls-cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    animation: fadeIn 0.3s; }
    .controls .controls-cover.closing {
      animation: fadeOut 0.3s; }
@keyframes controls-fullscreen {
  0% {
    transform: translateY(100%); } }
@keyframes controls-minimize {
  90% {
    opacity: 0; }
  100% {
    transform: translateY(100%); } }
.bottom-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 4em;
  width: 100%;
  max-width: 50em;
  background: rgba(235, 235, 235, 0.8);
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.12); }
  @media screen and (max-width: 750px) {
    .bottom-bar {
      flex-direction: column-reverse;
      height: 7em; } }

.navigation {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px); }
  @media screen and (max-width: 750px) {
    .navigation {
      height: 3em; } }

.section-nav-button {
  display: flex;
  align-items: center;
  margin: 0 1em;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4); }
  .section-nav-button svg {
    margin-right: 0.5em; }
  .section-nav-button h3 {
    font-weight: normal; }
  .section-nav-button.selected {
    color: #ff2d55; }

.mini-controls {
  position: relative;
  height: 4em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
  backdrop-filter: blur(30px); }
  @media screen and (max-width: 750px) {
    .mini-controls {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      border-bottom: 1px solid rgba(0, 0, 0, 0.12); } }
  .mini-controls.fullscreen {
    opacity: 0;
    height: 2em; }
    .mini-controls.fullscreen svg {
      display: none; }
  .mini-controls.closing {
    animation: fadeIn 0.3s; }
  .mini-controls .info-container {
    display: flex;
    align-content: center;
    flex: 1; }
  .mini-controls .song-title {
    flex: 1;
    min-width: 0; }
    .mini-controls .song-title h3 {
      overflow: hidden;
      text-overflow: ellipsis; }
  .mini-controls .artwork {
    height: 75%;
    width: 3em;
    margin: auto 0.5em;
    box-shadow: 0 0 10px darkgray;
    border-radius: 4px;
    background-size: cover;
    transition: background 1s; }
  .mini-controls .button-container {
    display: flex;
    align-items: center;
    padding-right: 1em; }
  .mini-controls svg {
    height: 2em;
    width: 2em;
    margin: auto 1em; }

.playback-controls {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .playback-controls.playing img {
    transform: scale(1.1);
    box-shadow: 0 15px 50px #a0a0a0; }
  .playback-controls .artwork-container {
    display: flex;
    justify-content: center;
    flex: 1;
    height: 50vh;
    max-height: 20em;
    padding-bottom: 2em; }
    .playback-controls .artwork-container img {
      height: 90%;
      width: auto;
      margin: auto;
      max-height: 20em;
      border-radius: 6px;
      transition: all 0.35s ease-in-out; }
  .playback-controls .track-time-slider-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 3em; }
  .playback-controls .time-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    color: #969696; }
  .playback-controls .track-metadata-container {
    display: flex;
    flex-direction: column; }
    .playback-controls .track-metadata-container h3 {
      text-align: center;
      margin: 0.2em; }
    .playback-controls .track-metadata-container .track-album {
      color: #ff2d55;
      font-weight: normal; }
  .playback-controls .playback-button-container {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    width: 100%;
    max-width: 19em; }
    .playback-controls .playback-button-container svg {
      width: 3em;
      height: auto;
      cursor: pointer; }
  .playback-controls .volume-slider-container {
    width: 90%;
    margin: auto;
    height: 5em;
    display: flex;
    align-items: center; }
  .playback-controls .options-container {
    height: 4em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ff2d55; }
    .playback-controls .options-container svg {
      width: 2em;
      height: auto;
      cursor: pointer; }

.popup {
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 5em;
  max-width: 25em;
  margin: 1em auto;
  border-radius: 16px;
  animation: showPopup 0.3s; }
  .popup.closing {
    animation: hidePopup 0.25s; }
  .popup .upper-container, .popup .lower-container {
    border-radius: 16px;
    overflow: hidden;
    margin: 1em 0;
    backdrop-filter: blur(30px);
    background: rgba(250, 250, 250, 0.8); }
  .popup .upper-container .popup-button {
    text-align: left;
    font-weight: normal; }

.popup-cover {
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s; }
  .popup-cover.closing {
    animation: fadeOut 0.25s; }

.popup-button {
  height: 3em;
  width: 100%;
  margin: 0;
  text-align: center;
  line-height: 3em;
  padding: 0 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  cursor: pointer; }
  .popup-button:hover {
    background: rgba(200, 200, 200, 0.7); }
  .popup-button:last-child {
    border-bottom: none; }

@keyframes showPopup {
  0% {
    transform: translateY(100%); } }
@keyframes hidePopup {
  100% {
    transform: translateY(100%); } }
.main-view {
  padding-top: 1em; }

.artist-view .album-list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 70em;
  margin: auto; }

.album-view {
  display: flex; }
  .album-view .album-container {
    flex: 1;
    display: flex; }
  .album-view .track-container {
    flex: 1; }
  @media screen and (max-width: 750px) {
    .album-view .album-container {
      flex-direction: column; }
    .album-view .track-container {
      padding-left: 1em; } }

.album-header {
  padding: 0 2em 0 0.5em; }
  .album-header .album-artwork {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 6px; }
  @media screen and (max-width: 750px) {
    .album-header {
      display: flex;
      height: 10em;
      padding-left: 1em; }
      .album-header .album-artwork {
        max-height: 90%;
        margin: auto 0; } }

.album-metadata-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em; }
  .album-metadata-container .album-title {
    font-size: 2em;
    margin: 0 0 0.25em 0; }
  .album-metadata-container .album-artist {
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
    color: #ff2d55; }
  @media screen and (max-width: 750px) {
    .album-metadata-container {
      padding: 0.5em 0.5em 0 1em;
      margin-bottom: 0; }
      .album-metadata-container .album-title {
        font-size: 1.2em; }
      .album-metadata-container .album-artist {
        font-size: 1em; } }

.album-list-view .album-item-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 70em;
  margin: auto; }

.artist-list-view .artist-button-container {
  padding-left: 1em; }
  .artist-list-view .artist-button-container .nav-button {
    animation: fadein 0.5s; }
@keyframes fadein {
  0% {
    opacity: 0; } }

/*# sourceMappingURL=main.css.map */
